body,
* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    will-change: auto;
}

#svg-gradient-background{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    filter: blur(25px);
    /* overflow: hidden; */
    width: 120%;
    transform: translateX(-10%);
}

#container{
    transform: translateY(20vh);
    /* filter: blur(5vw); */
}

#space{
    height: 100vh;
    width: 100%;
}

#circle2 {
    /* animation: move 5s forwards infinite; */
}

#circle1 {
    /* animation: move2 5s forwards infinite; */
}

#circle3 {
    /* animation: move3 5s forwards infinite; */
}

@keyframes move {
    0%, 100% {
        cx: 85vw;
    }
    50% {
        cx: 80vw;
    }
}

@keyframes move2 {
    0%, 100% {
        cx: 40vw;
    }
    50% {
        cx: 50vw;
    }
}

@keyframes move3 {
    0%, 100% {
        cx: 0vw;
    }
    50% {
        cx: 10vw;
    }
}

circle{
    /* mix-blend-mode: saturation; */
    transition: all ease 500ms;
    /* filter: url(#blur); */
    filter: blur(250px);
}
